$pastel_blue: #9BBEED !default;
$pastel_red: #E5788F !default;
$pastel_light_red: #f3dad9 !default;

$theme-colors: (
    "pastel_blue": $pastel_blue,
    "pastel_red": $pastel_red,
    "pastel_light_red": $pastel_light_red,
);