<IfModule mod_rewrite.c>
    # Turn on URL rewriting
    RewriteEngine On

    # Don't rewrite existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other queries to index.php
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

